<div class="container">
<div class="row"> <!-- This is the #firstrowstartcodes -->

<div class="col-12">
<p style="text-align: center;"> <!--This is the logo and Contact Details start Codes -->
<a href="#">
<img alt="Automotive" class="img-thumbnail" height="170" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/ff22c89f-4deb-4206-9283-c3d1a1b00b95.png" width="304" /></a></p>
<p style="color: black; text-align: center;"><strong>(03) 5303 0263 | sales@jonoandjohno.com.au</strong></p>
<h1 style="color: black; text-align: center;">Feature Products &amp; Specials</h1>
<p style="color: black; text-align: center;">Valid Until Tuesday 26/03/2019</p>
<p style="color: black; text-align: center;">Available only at chainsawspares.com.au</p>
<p style="color: black; text-align: center;">(not available on Ebay)
</p> <!--This is the logo and Contact Details end Codes -->
</div>

<div class="col-12">
<p style="text-align: center;"> <!--This is the instagram logo start Codes -->
<a href="https://www.instagram.com/jonoandjohno/">
<img alt="Instagram" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/a9f59f39-e3bc-4aa2-b0d6-41087f60e9a0.jpg" width="100%" /></a>
</p> <!--This is the instagram logo end Codes -->
</div>

<div class="col-12">
<p style="text-align: center;"> <!--This is the complete #electricfence-startcodes-->
<a href="https://www.chainsawspares.com.au/perla-barb-84cc-v1-chainsaw-24-bar-and-3-8-058-84d"><img alt="Perla Barb 84 CC V1" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/0c0411ac-78f4-4726-85bd-cbd5e2e439f7.jpg" width="100%" /></a>
</p> <!--This is the complete #electricfence-endcodes-->
</div>

<div class="col-12">
<p style="text-align: center;"> <!--This is the perlabarb-startcodes-->
<a href="https://www.chainsawspares.com.au/?rf=kw&amp;kw=84CC+CHAINSAW+WITH+42%22+MILLING"><img alt="Perla Barb 84 Chainsaw" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/6fac9c9c-5bd2-4635-83bf-574f7221529a.jpg" width="100%" /></a>
</p> <!--This is the perlabarb-endcodes-->
</div>

</div>

<div class="row"> 
<div class="col-6"> 
<p style="text-align: center;">
<a href="https://www.chainsawspares.com.au/fuel-tank-for-honda-and-chinese-copy-engine-gx160"><img alt="GX160/200" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/2e08140f-709c-4907-a0e3-39a6001c13ae.jpg" style="width: 300px;" /></a>
</p>
<p style="text-align: center;">
<strong>GX160/200<br />
Fuel Tank</strong>
</p>
<h2 style="text-align: center;">
<span style="color:#0000CD;"><strong>$27.17</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $28.60</span></strong></span>
</h2>

<p style="text-align: center;">
<a class="btn btn-warning" href="https://www.chainsawspares.com.au/fuel-tank-for-honda-and-chinese-copy-engine-gx160" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;">
<a href="https://www.chainsawspares.com.au/fuel-tank-for-honda-and-chinese-copy-engine-gx240"><img alt="GX240/270/ 340/390" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/8ef408db-9061-47cd-a638-bee725ae8006.jpg" style="width: 300px;" /></a>
</p>
<p style="text-align: center;">
<strong>GX240/270/ 340/390 <br />
Fuel Tank</strong>
</p>
<h2 style="text-align: center;">
<span style="color:#0000CD;"><strong>$31.50</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $33.20</span></strong></span>
</h2>
<p style="text-align: center;">
<a class="btn btn-warning" href="https://www.chainsawspares.com.au/fuel-tank-for-honda-and-chinese-copy-engine-gx240" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;">
<a href="https://www.chainsawspares.com.au/exhaust-muffler-for-honda-gx340-gx390-11hp-13hp-co"><img alt="GX390 Muffler" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/e55ba920-8e99-4f6c-ace2-8c73a7c226ea.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>GX390 Muffler<br />
Assembly</strong>
</p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$33.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $35.00</span></strong></span>
</h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/exhaust-muffler-for-honda-gx340-gx390-11hp-13hp-co" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/exhaust-muffler-heat-shield-for-honda-gxv-140-160"><img alt="GXV160 Muffler" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/aea76203-0b78-416b-994b-ba0f352fe4c0.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>GXV160 Muffler<br />
Assembly</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$33.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $35.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/exhaust-muffler-heat-shield-for-honda-gxv-140-160" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/exhaust-muffler-for-honda-gx-110-120-140-160-200-3"><img alt="GX160 Muffler" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/81810b76-9b06-4604-b452-9763107453ec.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>GX160 Muffler<br />
Assembly</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$33.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $35.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/exhaust-muffler-for-honda-gx-110-120-140-160-200-3" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/log-roller-lifter-cant-hook-peavey-logging-fire-wo"><img alt="GX270 Muffler" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/79ff85f6-ee12-4de4-8871-3d9bea4346cf.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>GX270 Muffler<br />
Assembly</strong></p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$33.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $35.00</span></strong></span></h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/log-roller-lifter-cant-hook-peavey-logging-fire-wo" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/automatic-float-valve-water-trough-bowl-stock-wate"><img alt="Nylon Trough with 2 x Nylon" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/1e11aea6-a2a7-472d-9ebe-cedf327946e9.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>Nylon Trough with 2 x Nylon<br />
Valve Float Mechanisms</strong></p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$35.00</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $</span></strong></span></h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/automatic-float-valve-water-trough-bowl-stock-wate" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/automatic-water-trough-stainless-cat-horse-pig-cat"><img alt="Stainless Steel Trough with 1 x" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/0d9b9ccf-c2e3-49ec-b104-6fa83dd1ba5a.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>Stainless Steel Trough with 1 x<br />
brass valve float mechanism</strong></p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$49.00</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $</span></strong></span></h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/automatic-water-trough-stainless-cat-horse-pig-cat" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/automatic-water-trough-stainless-steel-sheep-dog-c~4789"><img alt="Stainless Steel Trough with 2 x" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/4d55fd56-58c7-439a-b5b1-f327b16cab85.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>Stainless Steel Trough with 2 x<br />
Nylon Valve Float Mechanisms</strong></p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$39.00</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $</span></strong></span></h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/automatic-water-trough-stainless-steel-sheep-dog-c~4789" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/crankcase-splitter-tool-crankshaft-for-stihl-husqv"><img alt="Crankcase Splitter" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/30ad6226-89c6-41e6-8e81-5f30bfdf59e9.jpg" style="width: 300px;" /></a></p>
<p style="text-align: center;"><strong>Crankcase Splitter<br />
</strong></p>
<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$116.10</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $129.00</span></strong></span></h2>
<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/automatic-water-trough-stainless-steel-sheep-dog-c~4789" role="button">VIEW ONLINE</a></p>
</div>

</div> <!-- This is the #secondrowendtcodes -->

<div class="row">
<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/100m-roll-pull-starter-start-cord-rope-mower-chain"><img alt="100 ROLL FULL STARTER" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/19572905-a046-4eeb-8df4-691800497d94.jpg" width="100%" /></a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/heavy-duty-farm-fence-strainer-plain-barbed-wire-f"><img alt="Chain Strainer" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/4e13c860-6437-4d69-a165-75643464abe1.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Chain Strainer</strong><br/>
	 - 1.2m Chain
</p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$42.70</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $45.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/heavy-duty-farm-fence-strainer-plain-barbed-wire-f" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/fence-post-lifter-puller-star-picket-fencing-steel"><img alt="Fence Post Lifter" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/3894dc79-3ae2-4c94-90f6-a4112a76e690.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Fence Post Lifter</strong><br/>
- 10cm Lift Height
</p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$52.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $55.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/fence-post-lifter-puller-star-picket-fencing-steel" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/5-8km-0.4j-solar-power-electric-fence-energiser-ch"><img alt="5-8 KM ELECTRIC" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/96193517-ebe5-44bd-a18e-5ac8897d9bcf.jpg" width="100%" /></a></p>
</div>

<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/chainsaw-tool-accessory-kit-pocket-pouch-bar-dress"><img alt="CHAINSAW TOOL" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/274f78a8-1b5c-412e-ac41-856c2f5618d7.jpg" width="100%" /></a></p>
</div>

</div>

<div class="row">
<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au"><img alt="AfterPay" class="img-thumbnail" height="auto" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/9f2baaf8-531a-4fe7-bdd5-a1d4971f4b66.jpg" width="100%" /></a></p>

<p style="text-align: center;"><a class="btn-primary btn btn-block btn-loads" href="https://www.chainsawspares.com.au/assets/JJ-Catalogue-JAN19-Web.pdf" role="button" target="_blank">VIEW OUR FULL PRODUCT CATALOGUE</a></p>
</div>
</div>
</div>
