<div class="container">
<div class="row">
<div class="col-12">
<p style="text-align: center;"><a href="#"><img alt="Automotive" class="img-thumbnail" height="170" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/ff22c89f-4deb-4206-9283-c3d1a1b00b95.png" width="304" /></a></p>

<p style="color: black; text-align: center;">(03) 5303 0263 | sales@jonoandjohno.com.au</p>

<h1 style="color: black; text-align: center;">Feature Products &amp; Specials</h1>

<p style="color: black; text-align: center;">Valid Until Tuesday 26/03/2019</p>

<p style="color: black; text-align: center;">Available only at chainsawspares.com.au</p>

<p style="color: black; text-align: center;">(not available on Ebay)</p>
</div>

<div class="col-12">
<p style="text-align: center;"><a href="https://www.instagram.com/jonoandjohno/"><img alt="Automotive" class="img-thumbnail" height="203" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/a9f59f39-e3bc-4aa2-b0d6-41087f60e9a0.jpg" width="600" /></a></p>
</div>

<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/perla-barb-84cc-v1-chainsaw-24-bar-and-3-8-058-84d"><img alt="Automotive" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/0c0411ac-78f4-4726-85bd-cbd5e2e439f7.jpg" width="600" /></a></p>
</div>

<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/?rf=kw&amp;kw=84CC+CHAINSAW+WITH+42%22+MILLING"><img alt="Automotive" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/6fac9c9c-5bd2-4635-83bf-574f7221529a.jpg" width="600" /></a></p>
</div>
</div>

<div class="row">
<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/vertical-mini-chainsaw-edging-mill-milling-attachm"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/6b912c5d-940d-4374-9771-f7e923b6ebec.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Vertical Mini Chainsaw<br />
Edging Mill</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$142.50</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $150.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/vertical-mini-chainsaw-edging-mill-milling-attachm" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/first-cut-8ft-rail-connector-kit-for-chainsaw-mill"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/6e5c5d42-59ff-4209-b043-0a71b0bd4a51.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>First Cut 8ft Rail &amp; Connector Kit<br />
for Chainsaw Milling Attachment</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$161.50</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $170.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/first-cut-8ft-rail-connector-kit-for-chainsaw-mill" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/first-cut-slabbing-rail-bracket-for-chainsaw-milli"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/693511d1-5ede-4d83-9f20-393c1691f4e6.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Rail Connector Kit for<br />
Chainsaw Milling Attachment</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$52.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $55.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/first-cut-slabbing-rail-bracket-for-chainsaw-milli" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/oiler-kit-for-chainsaw-milling-attachment-mill-sla"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/a61503cc-455c-486e-bbab-0a0f4c562f01.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Oiler Kit for Chainsaw Milling<br />
Attachment</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$84.55</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $89.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/oiler-kit-for-chainsaw-milling-attachment-mill-sla" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/first-cut-slabbing-rail-bracket-for-chainsaw-milli"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/693511d1-5ede-4d83-9f20-393c1691f4e6.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/rail-connector-kit-for-chainsaw-milling-attachment"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/c9d3c8f4-9056-4c28-b241-86bebc7fb271.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>First Cut Slabbing Rail Bracket<br />
for Chainsaw Milling Attachment</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$33.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $35.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/rail-connector-kit-for-chainsaw-milling-attachment" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/log-roller-lifter-cant-hook-peavey-logging-fire-wo"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/929cc72d-449a-45a8-aaba-d3f2e06ccadc.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Log Roller<br />
- 120cm</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$90.25</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $95.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/log-roller-lifter-cant-hook-peavey-logging-fire-wo" role="button">VIEW ONLINE</a></p>
</div>
</div>

<div class="row">
<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/?rf=kw&amp;kw=Chainsaw+Milling+Attachment+18+to+SAWMILL"><img alt="Automotive" class="img-thumbnail" height="325" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/2e7b7d4d-a810-4c84-827b-69e52ba4a98a.jpg" width="600" /></a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/hurricane-5-skip-tooth-ripping-chainsaw-chain-404"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/19afd1e0-d69f-4b86-87d1-0a3252dcbc43.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Hurricane 5 Skip Tooth Ripping Chainsaw Chain 404 063 to suit Lucas Mill&nbsp;</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$405.00</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $450.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/hurricane-5-skip-tooth-ripping-chainsaw-chain-404" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/25ft-roll-3-8-063-semi-chisel-chain-skip-tooth-cha"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/081bee76-adca-4def-858b-cfb1116ab1e0.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Chainsaw Chain Breaker + Spinner + 25ft of 3/8&nbsp;063&nbsp;Semi Chisel Skip Tooth Chain</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$175.50</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $195.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/25ft-roll-3-8-063-semi-chisel-chain-skip-tooth-cha" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/post-hole-digger-62cc-petrol-200mm-earth-auger-dri"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/ce16d99c-a158-4c2f-8b86-88b9aa4a7ff3.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Perla Barb 62cc 2-Stroke Post Hole Digger With 200mm Auger&nbsp;</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$225.00</strong></span><br />
<span style="font-size:18px"><strong><span style="text-decoration:line-through">was $250.00</span></strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/post-hole-digger-62cc-petrol-200mm-earth-auger-dri" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/new-perla-barb-cultivator-tiller-62cc-petrol-rotar"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/04360f6d-ad4e-47a2-82ee-bb8648f5b1e5.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Perla Barb 62cc 2-Stroke<br />
Rotary Hoe Tiller</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$299.00</strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/new-perla-barb-cultivator-tiller-62cc-petrol-rotar" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/new-perla-barb-cultivator-tiller-161cc-petrol-rota"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/083df884-82fb-4353-acd8-2d23247b57cd.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Perla Barb 161cc 4-Stroke<br />
Rotary Hoe Tiller</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$419.00</strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/new-perla-barb-cultivator-tiller-161cc-petrol-rota" role="button">VIEW ONLINE</a></p>
</div>

<div class="col-6">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au/wheel-brush-cutter-62cc-petrol-engine-walk-behind"><img alt="Fencing Equipment" class="img-thumbnail" height="300" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/a1c6aea8-33df-4722-99cf-3a28027f5e77.jpg" style="width: 300px;" /></a></p>

<p style="text-align: center;"><strong>Perla Barb 62cc 2-Stroke<br />
Wheel Brush Cutter</strong></p>

<h2 style="text-align: center;"><span style="color:#0000CD;"><strong>$230.00</strong></span></h2>

<p style="text-align: center;"><a class="btn btn-warning" href="https://www.chainsawspares.com.au/wheel-brush-cutter-62cc-petrol-engine-walk-behind" role="button">VIEW ONLINE</a></p>
</div>
</div>

<div class="row">
<div class="col-12">
<p style="text-align: center;"><a href="https://www.chainsawspares.com.au"><img alt="Automotive" class="img-thumbnail" height="450" src="https://gallery.mailchimp.com/5efd03951a32cf62aa2ce2156/images/9f2baaf8-531a-4fe7-bdd5-a1d4971f4b66.jpg" width="600" /></a></p>

<p style="text-align: center;"><a class="btn-primary btn btn-block btn-loads" href="https://www.chainsawspares.com.au/assets/JJ-Catalogue-JAN19-Web.pdf" role="button" target="_blank">VIEW OUR FULL PRODUCT CATALOGUE</a></p>
</div>
</div>
</div>
